/* CONTAINERS */
.container_login {
    border-radius: 5px;
    padding: 50px;
  }

.container-fluid {
    padding:4%;
}

.menu_container {
    padding: 15px;
    background: white;
    width: fit-content;
    height: fit-content;
    border-radius: 15px; 
    border: 1.5px solid  #c2c2c2;
    box-shadow: 10px 10px 5px lightgray;
  }

.button_container {
    padding: 1%
}

.menu_tittle_container {
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 1.5px solid #c2c2c2;
  }

.container {
    border-radius: 5px;
    background-color: rgb(211, 223, 240);
    padding: 50px;
  }
/* CONTAINERS */

/* NAVBAR */
.navbar.navbar-expand-lg{
    background-color: rgb(98, 114, 157);
    padding: 0;
}

a.navbar-brand.ms-auto {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-nav.mr-auto a.nav-link.active {
    color: white;
}

.navbar-nav.ms-auto a.nav-link.active {
    color: white;
}
/* NAVBAR */

/* BUTTONS */
.btn.btn-primary.menu {
    background-color: rgb(211, 223, 240); 
    color: black; 
    border: 5px solid  #909dc3;
    border-radius: 15px;
    width: 250px;
    padding: 10px;
    font-size: x-large;
}

.btn.btn-primary.btn-sm{
    background-color: rgb(98, 114, 157);
    border-color: rgb(98, 114, 157);
    margin: 0.2%;
}
/* BUTTONS */


/* DIVS */
.div_padding_2{
    padding: 2%;
}
/* DIVS */


/* INPUTS */
.container-fluid input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
/* INPUTS */

/* TABLES */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: 'Times New Roman';
    width: 97%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(98, 114, 157);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(98, 114, 157);
}

.styled-table tbody tr.active-row {
    color:black;
}
/* TABLES */

/* OTHERS */
.w-100.p-3.subtitulo {
    background-color: rgb(98, 114, 157);
    color: white;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
/* OTHERS */