{% load static %}

<!DOCTYPE html>

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'FARMAHOME/style.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<head>
  <title>FARMAHOME HUF</title>
</head>


<body>
  <nav class="navbar navbar-expand-lg"><!--navbar-dark bg-dark-->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link active" href="{% url 'FARMAHOME:index' %}" style="font-size:large">Inicio</a>
        </li>
        <li class="nav-item active">
          {% block subbotton %}{% endblock %}
        </li>
    </ul>
    
    <a class="navbar-brand ms-auto" href="#">FARMAHOME</a>

    <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'FARMAHOME:user_logout' %}" style="font-size:large;">Logout</a>
            </li>
          {% endif %}
    </ul>
</nav>

<div class="w-100 p-3 subtitulo">
  {% block subtitle %}{% endblock %}
</div>

  <center>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {% if message.tags == 'success' %}
                    <div class="alert-success">
                {% elif message.tags == 'error' %}
                    <div class="alert-danger">
                {% elif message.tags == 'warning' %}
                    <div class="alert-warning">
                {% endif %}
                    	<strong>{{ message }}</strong>
                  	</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}
  </center>

</body>

<footer>
  <div class="text-center p-2 footer">
    @Hospital Universitario Fuenlabrada - FARMAHOME
  </div>
</footer>

</html>