{% extends "FARMAHOME/basic.html" %}

{% block subbotton %}
<a class="nav-link active" href="{% url 'FARMAHOME:ver_pedidos' 'hoy' %}" style="font-size:large">Ver pedidos</a>
{% endblock %}

{% block subtitle %}Entregar pedidos{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <form action="" method='POST'>
            <h4>
                {% csrf_token %}

                {{ form.as_p }}
            </h4>

            <button class="btn btn-primary menu" type="submit"> Guardar </button>

        </form>
    </div>
</div>

{% endblock %}