{% extends "FARMAHOME/basic.html" %}

{% block subtitle %}
Ver pedidos ({{ fecha_busqueda }})
{% endblock %}

{% block body %}

<div>
    <a class="home" href="{% url 'FARMAHOME:ver_pedidos' 'ayer' %}">Ayer</a>
    <a class="home" href="{% url 'FARMAHOME:ver_pedidos' 'hoy' %}">Hoy</a>
    <form action="" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="home" type="submit"> Buscar </button>
    </form>
</div>

<table class = "styled-table" >
    <thead>
        <tr>
        <th scope="col">DIRECCIÓN</th>
        <th scope="col">CP</th>
        <th scope="col">ESTADO</th>
        <th scope="col">FECHA REGISTRO</th>
        <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {% for results in todos_pedidos %}
        <tr class="active-row">
            <td>{{ results.direccion }}</td>
            <td>{{ results.codigo_postal }}</td>
            <td>{{ results.estado_entrega }}</td>
            <td>{{ results.fecha_registro}}</td>
            {% if results.fecha_registro is null and results.fecha_cita.day == fecha_actual.day and results.fecha_cita.month == fecha_actual.month and results.fecha_cita.year == fecha_actual.year %}
                <td><div><a class="edit_button" href="{% url 'FARMAHOME:editar_pedido' results.id %}">Editar</a></div>
            {% endif %}
        </tr>
    </tbody>

{% endfor %}
</table>
    </center>
<div class="col-md-4">
    <a class="button button2" href="{% url 'FARMAHOME:exportar_excel' fecha_busqueda %}">Descargar</a>
</div>
{% endblock %}