{% extends "FARMAHOME/basic.html" %}

{% block subtitle %}
Ver pedidos ({{ fecha_busqueda }})
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a class="btn btn-primary btn-sm" href="{% url 'FARMAHOME:ver_pedidos' 'ayer' %}">Ayer</a>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-primary btn-sm" href="{% url 'FARMAHOME:ver_pedidos' 'hoy' %}">Hoy</a>
        </div>
        <div class="col-md-auto">
            <form action="" method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-sm" type="submit"> Buscar </button>
            </form>
        </div>
    </div>
</div>

<table class = "styled-table" >
    <thead>
        <tr>
        <th scope="col">DIRECCIÓN</th>
        <th scope="col">CP</th>
        <th scope="col">ESTADO</th>
        <th scope="col">FECHA REGISTRO</th>
        <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {% for results in todos_pedidos %}
        <tr class="active-row">
            <td>{{ results.direccion }}</td>
            <td>{{ results.codigo_postal }}</td>
            <td>{{ results.estado_entrega }}</td>
            <td>{{ results.fecha_registro}}</td>
            {% if results.fecha_registro is null and results.fecha_cita.day == fecha_actual.day and results.fecha_cita.month == fecha_actual.month and results.fecha_cita.year == fecha_actual.year %}
                <td><div><a class="btn btn-primary btn-sm" href="{% url 'FARMAHOME:editar_pedido' results.id %}">Editar</a></div>
            {% endif %}
        </tr>
    </tbody>

{% endfor %}
</table>
    </center>
<div class="col-md-4">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'FARMAHOME:exportar_excel' fecha_busqueda %}">Descargar</a>
</div>
{% endblock %}